* {
  margin: 0px;
  padding: 0px;
}

button {
  outline: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.juejin {
  width: 100%;
  height: 85vh;
  padding-top: 30px;
  background-color: #f4f5f5;
}

.nav {
  text-align: center;
  width: 100%;
  height: 60px;
  background-color: #b98a50;
  margin-bottom: 25px;
}

.why_main {
  position: relative;
  margin: 0 auto;
  width: 865px;
  /* height: 100%; */
}

.why_main .main_body {
  display: flex;
}

.why_main .main_body .wrapper {
  width: 638px;
}

.why_main .main_body .wrapper .userview {
  width: 100%;
  background-color: #fff;
}

.why_main .main_body .wrapper .userview .userviw_header {
  display: flex;
  padding: 30px;
  width: 568px;
}

.why_main .main_body .wrapper .userview .userviw_header img {
  display: inline-block;
  border-radius: 100%;
  width: 81px;
  height: 81px;
  margin-right: 28px;
}

.why_main .main_body .wrapper .userview .userviw_header .usermsg {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.why_main .main_body .wrapper .userview .userviw_header .usermsg a {
  display: block;
  margin-top: 4px;
  color: #4a97d8;
}

.why_main .main_body .wrapper .userview .userviw_header .usermsg a:hover {
  opacity: 0.8;
}

.why_main .main_body .wrapper .userview .userviw_header .changemsg .link {
  display: flex;
  margin-left: 23px;
  margin-top: 3px;
  margin-bottom: 25px;
}

.why_main .main_body .wrapper .userview .userviw_header .changemsg .link a {
  padding-left: 12px;
}

.why_main .main_body .wrapper .userview .userviw_header .changemsg button {
  font-size: 15px;
  color: #3780f7;
  height: 30px;
  width: 105px;
  border: 1px solid;
  background-color: #fff;
  border-radius: 4px;
}

.why_main .main_body .wrapper .userview .userviw_header .changemsg button:hover {
  opacity: 0.8;
}

.why_main .main_body .wrapper .userview_foot {
  display: flex;
  font-size: 16px;
  color: #1d2129;
  width: 100%;
  background-color: #fff;
  height: 52px;
  align-items: center;
}

.why_main .main_body .wrapper .userview_foot .foot_wrapper {
  display: flex;
  border-top: 1px solid #e4e6eb;
  margin: 30px;
  height: 100%;
  width: 89%;
  align-items: center;
  justify-content: space-between;
}

.why_main .main_body .wrapper .userview_foot .foot_wrapper .left {
  display: flex;
  align-items: center;
}

.why_main .main_body .wrapper .userview_foot .foot_wrapper .left img {
  margin-right: 8px;
  height: 20px;
  width: 20px;
}

.why_main .main_body .wrapper .userview_foot .foot_wrapper .left span {
  font-weight: 400;
  font-size: 16px;
  color: #1d2129;
}

.why_main .main_body .wrapper .content {
  margin-top: 10px;
  height: 48px;
  background-color: #fff;
}

.why_main .main_body .wrapper .content .content_nav {
  height: 100%;
}

.why_main .main_body .wrapper .content .content_nav .nav_text {
  display: flex;
  height: 100%;
}

.why_main .main_body .wrapper .content .content_nav .nav_text li {
  display: flex;
  height: 100%;
  padding: 0 20px 0 20px;
  align-items: center;
  justify-content: center;
}

.why_main .main_body .wrapper .content .content_nav .nav_text li a {
  font-size: 16px;
  font-weight: 400;
  color: #515767;
}

.why_main .main_body .wrapper .content .content_nav .nav_text li a:hover {
  color: #909090;
}

.why_main .main_body .wrapper .content .content_nav .nav_text .last {
  margin-left: 55px;
}

.why_main .main_body .wrapper .content .main_content {
  background-color: #f4f5f5;
  margin-top: 1px;
  width: 100%;
}

.why_main .main_body .wrapper .content .main_content .dynamic {
  display: none;
  background-color: #fff;
}

.why_main .main_body .wrapper .content .main_content .dynamic .head {
  padding: 16px 20px 0;
}

.why_main .main_body .wrapper .content .main_content .dynamic .head .author {
  display: flex;
}

.why_main .main_body .wrapper .content .main_content .dynamic .head .author img {
  border-radius: 100%;
  height: 45px;
  width: 45px;
}

.why_main .main_body .wrapper .content .main_content .dynamic .head .author .nametime {
  margin-left: 12px;
}

.why_main .main_body .wrapper .content .main_content .dynamic .head .author .nametime a {
  font-weight: 600;
  font-size: 15px;
  color: #17181a;
  margin-bottom: 3.6px;
}

.why_main .main_body .wrapper .content .main_content .dynamic .head .author .nametime span {
  font-size: 13px;
  color: #8a9aa9;
}

.why_main .main_body .wrapper .content .main_content .dynamic .postcontent {
  padding: 6px 20px 10px;
}

.why_main .main_body .wrapper .content .main_content .dynamic .postcontent .contenthead {
  display: inline;
}

.why_main .main_body .wrapper .content .main_content .dynamic .postcontent .contenthead h3 {
  font-size: 17px;
  color: #17181a;
}

.why_main .main_body .wrapper .content .main_content .dynamic .postcontent .simplecontent {
  margin-top: 3px;
  padding: 3px 0;
}

.why_main .main_body .wrapper .content .main_content .dynamic .postcontent .simplecontent div {
  margin-right: 16px;
  font-size: 15px;
  color: #5c6066;
}

.why_main .main_body .wrapper .content .main_content .dynamic .actionfoot {
  display: flex;
  margin-top: 3px;
  height: 34px;
  border-top: 1px solid #ebebeb;
}

.why_main .main_body .wrapper .content .main_content .dynamic .actionfoot div {
  flex: 1 1 33.333333%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why_main .main_body .wrapper .content .main_content .dynamic .actionfoot .action_title {
  margin-left: 5px;
  font-size: 13px;
  color: #8a93a0;
}

.why_main .main_body .wrapper .content .main_content .article {
  background-color: #fff;
}

.why_main .main_body .wrapper .content .main_content .article .sub_head {
  display: flex;
  height: 48px;
  padding: 0px 28px;
  align-items: center;
  border-bottom: 2px solid rgba(230, 230, 231, 0.5);
}

.why_main .main_body .wrapper .content .main_content .article .sub_head h2 {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.why_main .main_body .wrapper .content .main_content .article .sub_head .hot_new {
  margin-left: auto;
}

.why_main .main_body .wrapper .content .main_content .article .sub_head .hot_new a {
  font-size: 15px;
  color: #72777b;
  margin-left: 10px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_head .hot_new a:hover {
  opacity: 0.8;
}

.why_main .main_body .wrapper .content .main_content .article .sub_head .hot_new .hot {
  padding-right: 14px;
  border-right: 1px solid #b2bac2;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content {
  padding: 12px 20px 0px 20px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contenthead {
  display: flex;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contenthead a {
  margin-right: 10px;
  font-size: 14px;
  color: #4e5969;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contenthead .time {
  display: flex;
  align-items: center;
  font-size: 13px;
  padding: 0px 10px;
  color: #86909c;
  border-left: 1px solid #e5e6eb;
  border-right: 1px solid #e5e6eb;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contenthead .time p {
  line-height: 18px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contenthead .label {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contenthead .label a {
  font-size: 13px;
  color: #86909c;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody {
  margin-top: 10px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e5e6eb;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody div {
  margin-bottom: 8px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody .head {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody p {
  color: #86909c;
  font-size: 13px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody .contentfoot {
  display: flex;
  align-items: center;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody .contentfoot li {
  display: flex;
  line-height: 24px;
  margin-right: 20px;
  color: #4e5969;
  font-size: 13px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody .contentfoot li #unique {
  color: #fff;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody .contentfoot li .active {
  display: inline-block;
  margin-left: 5px;
  color: #4e5969;
  font-size: 13px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody .contentfoot .last {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4px;
}

.why_main .main_body .wrapper .content .main_content .article .sub_content .contentbody .contentfoot .last p {
  position: absolute;
  font-size: 20px;
}

.why_main .main_body .wrapper .content .main_content .special_column {
  display: none;
  background-color: #fff;
}

.why_main .main_body .wrapper .content .main_content .special_column .main {
  display: flex;
}

.why_main .main_body .wrapper .content .main_content .special_column .main img {
  padding: 16px 0;
  width: 150px;
  height: 84px;
  border-radius: 2px;
}

.why_main .main_body .wrapper .content .main_content .special_column .main .sidecontent {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  border-bottom: 1px solid #e5e6eb;
}

.why_main .main_body .wrapper .content .main_content .special_column .main .sidecontent .head {
  display: flex;
  align-items: center;
}

.why_main .main_body .wrapper .content .main_content .special_column .main .sidecontent .head h2 {
  width: 400px;
  color: #1d2129;
  font-size: 16px;
}

.why_main .main_body .wrapper .content .main_content .special_column .main .sidecontent .head span button {
  color: #fff;
  border: #1d7dfa;
  background-color: #1d7dfa;
  padding: 3px 15px 3px 8px;
}

.why_main .main_body .wrapper .content .main_content .special_column .main .sidecontent .body {
  display: inline-block;
  color: #4e5969;
  font-weight: 400;
  font-size: 14px;
  margin: 8px 0px;
}

.why_main .main_body .wrapper .content .main_content .special_column .main .sidecontent .foot span {
  font-weight: 400;
  font-size: 14px;
  color: #86909c;
}

.why_main .main_body .wrapper .content .main_content .boiling_point {
  display: none;
  background-color: #fff;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .head {
  padding: 16px 20px 0;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .head .author {
  display: flex;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .head .author img {
  border-radius: 100%;
  height: 45px;
  width: 45px;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .head .author .nametime {
  margin-left: 12px;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .head .author .nametime a {
  font-weight: 600;
  font-size: 15px;
  color: #17181a;
  margin-bottom: 3.6px;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .head .author .nametime span {
  font-size: 13px;
  color: #8a9aa9;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .postcontent {
  padding: 8px 0px 10px 60px;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .postcontent .simplecontent {
  margin-top: 3px;
  padding: 3px 0;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .postcontent .simplecontent div {
  margin-right: 16px;
  font-size: 15px;
  color: #5c6066;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .actionfoot {
  display: flex;
  margin-top: 3px;
  height: 34px;
  border-top: 1px solid #ebebeb;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .actionfoot div {
  flex: 1 1 33.333333%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .actionfoot div:hover {
  opacity: 0.8;
}

.why_main .main_body .wrapper .content .main_content .boiling_point .actionfoot .action_title {
  margin-left: 5px;
  font-size: 13px;
  color: #8a93a0;
}

.why_main .main_body .wrapper .content .main_content .collection {
  display: none;
  background-color: #fff;
}

.why_main .main_body .wrapper .content .main_content .collection .list_body .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.why_main .main_body .wrapper .content .main_content .collection .list_body .list .item {
  width: 100%;
}

.why_main .main_body .wrapper .content .main_content .collection .list_body .list .item .main_conten .main {
  display: flex;
  width: 94%;
  margin: 0px 20px;
  align-items: center;
  border-bottom: 1px solid rgba(228, 230, 235, 0.5);
}

.why_main .main_body .wrapper .content .main_content .collection .list_body .list .item .main_conten .main .left {
  flex: 1;
  padding: 12px 0px;
  margin-right: 20px;
}

.why_main .main_body .wrapper .content .main_content .collection .list_body .list .item .main_conten .main .left .head {
  line-height: 24px;
  display: flex;
  align-items: center;
}

.why_main .main_body .wrapper .content .main_content .collection .list_body .list .item .main_conten .main .left .head span {
  color: #252933;
  font-weight: 500;
  font-size: 16px;
}

.why_main .main_body .wrapper .content .main_content .collection .list_body .list .item .main_conten .main .left .body {
  font-size: 13px;
  line-height: 22px;
  margin-top: 8px;
  color: #8a919f;
}

.why_main .main_body .wrapper .content .main_content .collection .list_body .list .item .main_conten .main .right .btn {
  color: #1e80ff;
  background: rgba(30, 128, 255, 0.05);
  border-radius: 4px;
  width: 88px;
  height: 34px;
  line-height: 32px;
  border: 1px solid rgba(81, 87, 103, 0.3);
}

.why_main .main_body .wrapper .content .main_content .collection .list_body .list .item .main_conten .main .right .btn:hover {
  background: rgba(30, 128, 255, 0.1);
  border: 1px solidrgba(30, 128, 255, 0.45);
}

.why_main .main_body .wrapper .content .main_content .follow {
  display: none;
  background-color: #fff;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 28px;
  height: 48px;
  white-space: nowrap;
  border-bottom: 2px solid rgba(230, 230, 231, 0.5);
}

.why_main .main_body .wrapper .content .main_content .follow .follow_head .title {
  font-size: 15px;
  font-weight: 600;
  color: #000;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_head .right {
  margin-left: auto;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_head .right .item {
  position: relative;
  font-size: 14px;
  padding: 12px 0px;
  color: #72777b;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_head .right .item:hover {
  opacity: 0.8;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_head .right .item:not(:last-child) {
  margin-right: 24px;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_head .right .item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -12px;
  margin-top: -7px;
  width: 1px;
  height: 14px;
  background-color: #b2bac2;
  opacity: 0.5;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_main .list .item .link {
  display: flex;
  align-items: center;
  padding: 6px 28px;
  height: 84px;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_main .list .item .link:hover {
  background-color: hsla(0, 0%, 87.1%, 0.1);
}

.why_main .main_body .wrapper .content .main_content .follow .follow_main .list .item .link img {
  flex: 0 0 auto;
  width: 45px;
  height: 45px;
  margin-right: 20px;
  border-radius: 2px;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_main .list .item .link .mid {
  flex: 1 1 auto;
  font-size: 16px;
  font-weight: 600;
  color: #2e3135;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_main .list .item .link button {
  padding: 0;
  width: 88px;
  height: 28px;
  font-size: 12px;
  color: #92c452;
  background-color: #fff;
  border: 1px solid #92c452;
  border-radius: 2px;
}

.why_main .main_body .wrapper .content .main_content .follow .follow_main .list .item .link button:hover {
  opacity: 0.8;
}

.why_main .main_body .side-right {
  flex: 0 0 auto;
  margin-left: 10px;
}

.why_main .main_body .side-right .sideview {
  position: fixed;
  width: 217px;
}

.why_main .main_body .side-right .sideview .side-head {
  margin-bottom: 12px;
  background-color: #fff;
}

.why_main .main_body .side-right .sideview .side-head .text {
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  color: #31445b;
  border-bottom: 1px solid rgba(230, 230, 231, 0.5);
}

.why_main .main_body .side-right .sideview .side-head .detailtext {
  padding: 16px;
}

.why_main .main_body .side-right .sideview .side-head .detailtext .first {
  margin-bottom: 9.8px;
  height: 25px;
}

.why_main .main_body .side-right .sideview .side-head .detailtext .first span {
  margin-right: 10px;
}

.why_main .main_body .side-right .sideview .side-head .detailtext a {
  font-size: 14px;
  color: #000;
}

.why_main .main_body .side-right .sideview .side-head .detailtext a span {
  margin-right: 10px;
}

.why_main .main_body .side-right .sideview .side-mid {
  display: flex;
  margin-bottom: 12px;
  background-color: #fff;
  text-align: center;
}

.why_main .main_body .side-right .sideview .side-mid a {
  flex: 1 1 auto;
  padding: 16px 0;
  color: #31445b;
}

.why_main .main_body .side-right .sideview .side-mid a .second {
  margin-top: 6px;
}

.why_main .main_body .side-right .sideview .side-mid a:hover {
  color: #909090;
}

.why_main .main_body .side-right .sideview .side-foot {
  background-color: transparent;
}

.why_main .main_body .side-right .sideview .side-foot a {
  display: flex;
  padding: 15px 5px;
  color: #000;
  border-top: 1px solid rgba(230, 230, 231, 0.5);
}

.why_main .main_body .side-right .sideview .side-foot a .first {
  margin-right: auto;
}

.why_main .main_body .side-right .sideview .side-foot a:hover {
  color: #909090;
}

.why_main .main_body .side-right .sideview .side-foot .join-time {
  display: flex;
  padding: 15px 5px;
  color: #000;
  border-top: 1px solid rgba(230, 230, 231, 0.5);
}

.why_main .main_body .side-right .sideview .side-foot .join-time .first {
  margin-right: auto;
}

.why_main .main_body .side-right .sideview .side-foot .join-time:hover {
  color: #909090;
}